.navbar {
    padding: 0;
    /* background-color: #2C3E50; */
}
.navbar-nav a {
    font-size: 18px;
    font-weight: 500;
    color: #2C3E50;
    text-decoration: none;
    padding: 8px 12px;
}
.navbar-nav a:hover {
    /* color: #ADD8E6; */
    background-color: #eee;
}
/* .btn-fvs {
    border: none;
    color: #FFF;
    background-color: #F63E7B;
}
.btn-fvs:hover {
    background-color: #F63E7B;
    opacity: 0.85;
} */